#home .col-md-6 {
  width: 100%;
  height: 250px;
  text-align: center;
  font-size: 580%;
  /*font-weight: bold;*/
  font-family: 'Cabin';
  line-height: 60px;
  color: #667;
}

.fonte-grande {
	width: 100%;
	height: 250px;
	text-align: center;
	font-size: 580%;
	/*font-weight: bold;*/
	font-family: 'Cabin';
	line-height: 60px;
	color: #667;
}

.fonte-pequena {
	width: 100%;
	height: 250px;
	text-align: center;
	font-size: 180%;
	/*font-weight: bold;*/
	font-family: 'Cabin';
	line-height: 60px;
	color: #667;
}

.unidade-medida {
	width: 100%;
	height: 250px;
	text-align: center;
	font-size: 380%;
	/*font-weight: bold;*/
	font-family: 'Cabin';
	line-height: 60px;
	color: #667;
}

.col-title {
  font-size: 30%;
}
.unidade-home {
  font-size: 60%;
}
.middle {
  vertical-align: middle;
}

.jumbotron {
  background-color: #f7f7f7;
}
